@import url('../../variables.module.css');


.container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.container>:nth-child(1){
  
}

.container>:nth-child(2){
  border-radius: 15px
}

.boxCard{
  flex: 1;
  display: grid;
  background: white;
  border-radius: 15px;


  -webkit-box-shadow: 1.5px 3.5px 6px -1.5px #dddddd;
  -moz-box-shadow: 1.5px 3.5px 6px -1.5px #dddddd;
  box-shadow: 1.5px 3.5px 6px -1.5px #dddddd;
}

.boxCard>:first-child{
  margin-bottom: 10px;
  background-color: var(--blue1-color);
  color: white;
  font-size: calc(10px + .5vw);
  padding: 10px 25px;
  border-radius: 10px 10px 0 0;

}

.boxCard>:nth-child(2){
  color: var(--blue1-color);
  font-weight: 600;
  padding: 20px 25px;

}

.boxCard>:nth-child(3){
  color: var(--blue1-color);
  font-size: calc(8px + .3vw);
  padding: 0px 25px 10px 25px;

}

@media(500px> width){
  .container{
    flex-direction: column;
    width: 95%;
    padding: 0;
  }
}