@import url('../../variables.module.css');

.container{
  width: 100%;
  display: flex;
  gap: 30px;
}

.container> div{
  width: 50%;
  flex: 1;
}

.container> :first-child{
  overflow: hidden;
  border-radius: 15px;
}

.container> :first-child> img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.textContain> :first-child{
  margin-bottom: 10px;
}

.textContain> :nth-child(2){
  display: grid;
  margin-bottom: auto;
  gap: calc(1rem + 2vw);
}

.textContain> :nth-child(2)> h1{
  color: var(--grey1-color);
  font-size: clamp(1.5rem, 2.5vw, 2rem );
  text-wrap: balance;
}

.textContain> :nth-child(2)> h1> strong{
  color: var(--orange1-color);
}

.textContain> :nth-child(2)> span{
  color: var(--grey1-color);
  font-size: clamp(.8rem, 1vw, 3rem );

}



.botons{
  display: flex;
  gap: 30px;
}

@media(720px > width){
  .container{
    flex-direction: column;
  }

  .container> div{
    width: 100%;
  }
}