@import url('../../variables.module.css');

.container{
  width: 80%;
  margin: auto;
  background-color: var(--blue1-color);
  display: flex;
  gap: 30px;
}

.firstColumn, .secondColumn{
  width: 50%;;
  display: grid;
  place-items: center;
  /* border: 1px solid red; */

}

.firstColumn{
  padding-block: 20px;
}

.firstColumn> :first-child{
  width: 85%;
  display: grid;
  gap: 30px;
}

.title{
  font-size: clamp(1.3rem, 2.2vw, 4rem);
  color: var(--blue4-color);
}

.subtitle{
  font-size: clamp(.7rem, 1vw, 1rem);
  color: var(--blue4-color);

}

.description{
  font-size: clamp(1rem, 1vw, 2rem);
  color: var(--blue4-color);
}

.secondColumn{
  position: relative;
}


.secondColumn> :first-child{
  width: 50%;
  border-radius: 35px;
  padding-block: 30px;
}

.secondColumn> :first-child> img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 35px;

}

.miniCard{
  position: absolute;
  top: 35%;
  left: 5%;
  display: grid;
  gap: 30px;
}

.miniCard>div{
  width: fit-content;
  height: fit-content;
  padding: 7px 20px;
  border-radius: 15px;
  background-color: white;
  color: var(--blue1-color);

}

.miniCard>span, .miniCard>p{
  color: var(--blue1-color);
}

.miniCartInto{
  display: flex;
  gap: 20px;
  align-items: center;
}
.miniCartInto> :nth-child(2){
  display: grid;
}

.minicardTitle, .minicardSubTitle{
  font-size: calc(12px + 0.1vw);
}

.minicardTitle{
  font-weight: 600;
}

@media(1240px > width){
  .container{
    width: 95%;
    display: grid;
  }
  .miniCard{
    top: 25%;
  }

  .firstColumn, .secondColumn{
    width: 100%;
  }

  .secondColumn> :first-child{
    width: 80%;
  }

}