/* :root{
  --blue1-color: #005689;
  --blue2-color: #007cb9;
  --blue3-color: #49a0cc;
  --blue4-color: #d5eeff;
  --grey1-color: #363636;
  --orange1-color: #ff895d;
  --orange2-color: #ebcabe;
} */

:root{
  --blue1-color: #233142;
  --blue2-color: #455d7a;
  --blue3-color: #49a0cc;
  --blue4-color: #d5eeff;
  --grey1-color: #363636;
  --grey2-color: #494747;
  --orange1-color: #f95959;
}